certifi==2021.10.8
chardet==4.0.0
click==7.1.2
Flask==1.1.4
gevent==1.4.0
greenlet==1.1.2
gunicorn==19.10.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
urllib3==1.26.11
Werkzeug==2.2.3
